<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondmodule">

    <application>
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SecondMainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.TestAPT.NoActionBar" />
    </application>

</manifest>